@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./app/css/flags.css");

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@layer components {
  body {
    @apply dark:bg-slate-800 dark:text-slate-50;
  }

  .btn-primary {
    @apply text-white transition-all select-none bg-wine-500 hover:bg-wine-600 font-medium rounded-full text-sm px-5 py-2.5 focus:ring-4 focus:ring-wine-300 focus:ring-opacity-50 outline-none;
  }

  .btn-secondary {
    @apply text-white transition-all bg-green-wine-500 hover:bg-green-wine-600 font-medium rounded text-sm px-5 h-9 focus:ring-4 focus:ring-green-wine-300 focus:ring-opacity-50 outline-none;
  }

  .text-input {
    @apply flex-1 rounded border
    transition-all placeholder:text-slate-400 
    placeholder:lowercase bg-white
    focus:border-transparent appearance-none focus:bg-white focus:ring-4 focus:ring-wine-300 focus:ring-opacity-50 outline-none 
    w-full h-8 px-2 text-gray-800;
  }

  .label {
    @apply block text-gray-900 text-sm font-medium mb-0.5;
  }

  .nav-link {
    @apply select-none md:px-4 md:py-3 px-2 py-4 hover:text-wine-400 rounded font-medium transition-colors
     md:text-left text-center md:bg-white bg-slate-50
    appearance-none focus:bg-white focus:ring-4 focus:ring-wine-300 focus:ring-opacity-50 outline-none;
  }

  .nav-link.active {
    @apply text-wine-500;
  }

  .dropdown {
    @apply absolute mt-1.5 max-h-80 w-full space-y-0.5 overflow-auto rounded-md bg-white py-1 px-1 z-10 shadow-lg border;
  }

  .btn-white {
    @apply select-none w-full shadow-xxs rounded-md 
           bg-white px-4 py-2 border transition-all cursor-pointer font-medium
            text-sm hover:bg-slate-50 active:bg-slate-100 active:text-gray-700;
  }

  .disabled-btn {
    @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-gray-500 disabled:shadow-none;
  }

  .focus-primary {
    @apply focus:border-transparent appearance-none focus:bg-white focus:ring-4 focus:ring-wine-300 focus:ring-opacity-50 outline-none;
  }

  .link {
    @apply text-green-wine-500 hover:text-green-wine-600 hover:underline font-medium;
  }
}

.comma > *:not(:last-child):after {
  content: ",";
}
